@font-face {
    font-family: myFont-Regular;
    src: url(/asset/font/Font/Font_full/Regular.otf);
}

@font-face {
    font-family: myFont-Bold;
    src: url(/asset/font/Font/Font_full/Bold.otf);
}

@font-face {
    font-family: myFont-Italic;
    src: url(/asset/font/Font/Font_full/Italic.otf);
}

@font-face {
    font-family: myFont-Medium;
    src: url(/asset/font/Font/Font_full/Medium.otf);
}

@font-face {
    font-family: myFont-Medium_Italic;
    src: url(/asset/font/Font/Font_full/Medium_Italic.otf);
}



*{
    margin: 0;
    padding: 0;
}

html{ overflow-x: hidden;}

@keyframes showIn {
    from{
        opacity: 0.3;
        transform: translateX(100px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.show-search{
    visibility: visible!important;
    overflow: hidden;
    animation: showIn ease-in .3s;
}

@keyframes showUp {
    from{
        opacity: 0;
        transform: translateY(12px)
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.active-sider{
    display: block!important;
    animation: showUp linear .4s!important;
}

.sider-nav {
    width: 100%;
    top: 127px;
    left: 0;
    background-color: #F3D5B9;
    display: none;
}

.show-sider {
    visibility: visible!important;
}

#nav {
    position: fixed;
    height: 128px;
    width: 100%;
    background-color: #F3D5B9;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin: 0;
    z-index: 999999999;
    font-family: myFont-Regular!important;
}

input {
    width: 100%;
}

#nav > div {
    margin-top: 38px;
}

.search-nav, .icon-nav{
    margin-top: 11px!important;
}

#search-input {
    visibility: hidden;
    overflow: hidden;
}

.icon-nav > div {
    width: 80%;
}

.content-nav{
    padding-bottom: 70px;
}

.content-nav > div {
    width: min-content;
    padding: 12px 0;
    height: 40px;
}

.content-nav > div > div {
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 4px;
}

.content-nav > div:hover > div{
    border-bottom: 5px solid #396857;
    cursor: pointer;
}

#slider{
    width: 100%;
    height: 1215px;
    background-image: url("./asset/anh\ bia\ do\ an12.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.content-slider {
    padding-top: 240px;
    padding-left: 120px;
    color: #396857;
    font-family: myFont-Medium;
}

.content-slider > h1 {
    font-size: 60px;
}

.button-header {
    font-size: 18px;
    font-weight: 750;
    width: fit-content;
    padding: 10px 66px;
    border: 2px solid #396857;
    border-radius: 12px;
    font-family: myFont-Bold;
}
.button-header:hover{
    cursor: pointer;
    background-color: #396857;
    color: #F3D5B9;
}

.section {
    position: relative;
    width: 80%;
    margin: 40px auto;
}

.header-content {
    text-align: center;
    font-size: 60px;
    padding-top: 32px;
    font-weight: 500;
    font-family: myFont-Medium;
}

.more {
    color: #3a6958;
    font-size: 18px;
    font-weight: 600;
    padding: 24px 0;
    font-family: myFont-Italic;
}
.more:hover{
    cursor: pointer;
}

.paragraph-content-1 {
    width: fit-content;
    margin: 0 auto;
    text-align: end;
    font-size: 15px;
    font-family: myFont-Italic;
}

.paragraph-content-2,
.paragraph-content-4 {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    font-family: myFont-Italic;
}

.paragraph-content-3 { 
    font-family: myFont-Italic;
    font-size: 15px;}

.section-1 .more {
    text-align: end;
    padding-right: 88px;
}

.img-section-1 {
    width: 84%;
    margin-left: 4px;
}

.section-2 .col-3 > div {
    width: calc(100% - 8px);
    margin: 80px 8px;
}

.img-section-2 {
    width: 100%;
}

.section-2 .name-type{
    padding-top: 12px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    font-family: myFont-Medium;
}

.section-2 .derectory{
    color: #3a6958!important;
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    font-family: myFont-Medium_Italic;
}
.derectory:hover {cursor: pointer;}

.section-3{padding-left: 12px;}

.customer-card {
    margin: 24px 8px;
    width: fit-content;
    border: 2px solid #ccc;
    border-radius: 16px;
}

.customer-card .cart-content{
    width: 50%;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
}

.cart-content img {
    width: 60%;
}

.cart-content .user-name {
    font-weight: 500;
    padding-bottom: 20px;
    font-family: myFont-Medium;
}

.cart-content .user-comment{
    font-size: 12px;
    color: #ccc;
    font-family: myFont-Italic;
}
.cart-content .user-rate {
    padding: 8px 0 38px;
    color: #3a6958;
}

#fotter {
    background-color: #2E5246;
    color: #fff;
    margin-top: 160px;
}

.content-fotter {
    width: 80%;
    margin: 0 auto;
    font-size: 15px!important;
}

.content-fotter p {
    opacity: 0.6;
}

.logo-fotter {
    width: 84px;
    padding: 24px 0;
}

hr {
    height: 3px !important;;
    border-width:0;
    color: #fff !important;;
    background-color:#fff!important;
    margin-bottom: 24px;
}

.header-fotter {
    font-weight: 400;
    padding-bottom: 30px;
    font-family: myFont-Medium;
}

.hight-line{
    font-weight: 400;
    font-family: myFont-Medium;
}

.content-fotter p {
    font-size: 14px;
    color: #ccc;
    font-family: myFont-Regular;
}

.content-fotter span {
    font-size: 14px;
    color: #ccc;
    font-family: myFont-Bold;
}

.icon-fotter {
    margin-bottom: 24px;
}

.email-input-fotter {
    margin-top: 52px;
    color: #ccc;
    border-bottom: 2px solid #ccc;
    margin-bottom: 34px;
}

.email-submit-fotter {
    color: #ccc;
    width: fit-content;
    padding: 12px 100px; 
    border: 2px solid #ccc;
    border-radius: 12px;
}

.media {
    display: inline;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    font-family: myFont-Bold;
}

.purchase-fotter {
    justify-content: end;
}

.purchase-fotter p{
    display: inline;
    padding-right: 36px;
}

.background-1{
    width: 820px;
    position: absolute;
    top: -319px;
    right: -453px;
}

.background-2{
    width: 720px;
    position: absolute;
    top: -134px;
    left: -418px;
}

.background-3 {
    width: 620px;
    position: absolute;
    top: -178px;
    right: -384px;
}

.background-4{
    width: 558px;
    position: absolute;
    top: 388px;
    left: -270px;
    z-index: -1;
}